{% extends 'seller/index.html' %}

{% block title %}Product Management | Seller Center | Awesomers{% endblock %}

{% block sidebar %}
<ul class="nav nav-secondary">
  <li class="nav-item">
    <a data-bs-toggle="collapse" href="#store">
      <i class="fas fa-th-list"></i>
      <p>Store</p>
      <span class="caret"></span>
    </a>
    <div class="collapse" id="store">
      <ul class="nav nav-collapse">
        <li>
          <a href="{{ url_for('seller.renderStoreProfile') }}">
            <span class="sub-item">Profile</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('seller.renderStoreAddress') }}">
            <span class="sub-item">Address</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item active submenu">
    <a data-bs-toggle="collapse" href="#base">
      <i class="fas fa-layer-group"></i>
      <p>Products</p>
      <span class="caret"></span>
    </a>
    <div class="collapse show" id="base">
      <ul class="nav nav-collapse">
        <li class="active">
          <a href="{{ url_for('seller.renderProductManagement') }}">
            <span class="sub-item">Manage products</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('seller.renderAddProducts') }}">
            <span class="sub-item">Add products</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('seller.renderArchivedProducts') }}">
            <span class="sub-item">Archived products</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a data-bs-toggle="collapse" href="#sidebarLayouts">
      <i class="fas fa-th-list"></i>
      <p>Orders</p>
      <span class="caret"></span>
    </a>
    <div class="collapse" id="sidebarLayouts">
      <ul class="nav nav-collapse">
        <li>
          <a href="{{ url_for('seller.renderOrders') }}">
            <span class="sub-item">Orders</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('seller.renderReturns') }}">
            <span class="sub-item">Return Orders</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('seller.renderReviews') }}">
            <span class="sub-item">Reviews</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a data-bs-toggle="collapse" href="#forms">
      <i class="fas fa-pen-square"></i>
      <p>Sales</p>
      <span class="caret"></span>
    </a>
    <div class="collapse" id="forms">
      <ul class="nav nav-collapse">
        <li>
          <a href="forms/forms.html">
            <span class="sub-item">Basic Form</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-section">
    <span class="sidebar-mini-icon">
      <i class="fa fa-ellipsis-h"></i>
    </span>
    <h4 class="text-section">Awesomers</h4>
  </li>
  <li class="nav-item">
    <a href="{{ url_for('homepage.home') }}">
      <i class="fas fa-chevron-left"></i>
      <p>Back to Awesomers</p>
    </a>
  </li>
</ul>
{% endblock %}

{% block mainPanel %}
<div class="container">
  <div class="page-inner">
    <div class="page-header"> 
      <h3 class="fw-bold mb-3">{{legend}}</h3>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="{{ url_for('seller.sellerCenter') }}">
            <i class="icon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="">Products</a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="">{{legend}}</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <h4 class="card-title">Products in store</h4>
              <h4 class="card-title" hidden="">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</h4>
              <ul class="nav nav-pills nav-primary" hidden="">
                <li class="nav-item">
                  <a 
                  class="btn nav-link" 
                  onclick=""
                  id="all-products"
                  >
                  <strong>All</strong>
                  </a>
                </li>
                <li class="nav-item">
                  <a 
                  class="btn nav-link" 
                  id="active-products"
                  >
                  <strong>Active</strong>
                  </a>
                </li>
                <li class="nav-item">
                  <a 
                  class="btn nav-link" 
                  id="inactive-products"
                  >
                  <strong>Inactive</strong>
                  </a>
                </li>
              </ul>
              <a href=" {{ url_for('seller.renderAddProducts') }} " class="ms-auto">
                <button
                  class="btn btn-primary btn-round ms-auto"
                >
                  <i class="fa fa-plus"></i>
                  Add Product
                </button>
              </a>
            </div>
          </div>
          <div class="card-body">
            <!-- Modal -->
            <div
              class="modal fade"
              id="addRowModal"
              tabindex="-1"
              role="dialog"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header border-0">
                    <h5 class="modal-title">
                      <span class="fw-mediumbold"> New</span>
                      <span class="fw-light"> Row </span>
                    </h5>
                    <button
                      type="button"
                      class="close ms-auto"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="small">
                      Create a new row using this form, make sure you
                      fill them all
                    </p>
                    <form>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group form-group-default">
                            <label>Name</label>
                            <input
                              id="addName"
                              type="text"
                              class="form-control"
                              placeholder="fill name"
                            />
                          </div>
                        </div>
                        <div class="col-md-6 pe-0">
                          <div class="form-group form-group-default">
                            <label>Position</label>
                            <input
                              id="addPosition"
                              type="text"
                              class="form-control"
                              placeholder="fill position"
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group form-group-default">
                            <label>Office</label>
                            <input
                              id="addOffice"
                              type="text"
                              class="form-control"
                              placeholder="fill office"
                            />
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer border-0">
                    <button
                      type="button"
                      id="addRowButton"
                      class="btn btn-primary"
                    >
                      Add
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table id="products-in-store" class="display table table-striped table-hover">
                <thead>
                  <tr>
                    <th style="width: 100px;">Product Name</th>
                    <th style="width: 70px;">Category</th>
                    <th style="width: 70px;">Variations</th>
                    <th style="width: 70px;">Price</th>
                    <th style="width: 70px;">Quantity</th>
                    <th style="width: 50px;">Date Added</th> 
                    <th style="width: 2%;">Action</th>
                    <th hidden="">Is Active? header</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Variations</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Date Added</th>
                    <th style="width: 2%;">Action</th>
                    <th hidden="">Is active? footer</th>
                  </tr>
                </tfoot>
                <tbody id="tableBody">
                {% for product in products %}
                  <tr>
                    <td>
                      <p 
                      style="margin-bottom: 0px;">
                        {{product.3}}
                      </p>
                      <p 
                      style="font-size: 12px; margin-bottom: 0px;">
                        ID: {{product.0}}
                      </p>
                      <p 
                      style="font-size: 12px; margin-bottom: 0px;">
                        Brand: {{product.4}}
                      </p>
                    </td>
                    <td>
                      {{product.6}}
                    </td>
                    <td>
                        {{product.8}}
                    </td>
                    <td>{{product.9}}</td>
                    <td>{{product.10}}</td>
                    <td>
                      <p 
                      style="font-size: 12px; margin-bottom: 0px;">
                        Date added: {{product.11}}
                      </p>
                      {% if product.12 != None  %}
                      <p 
                      style="font-size: 12px;   margin-bottom: 5px;">
                        Date edited: {{product.12}}
                      </p>
                      {% endif %}
                    </td>
                    <td>
                      <div class="form-button-action">
                        <a href="{{ url_for('seller.renderEditProducts', productID=product[0]) }}">
                          <button
                            style="padding: 15px;"
                            title=""
                            class="btn btn-link btn-primary"
                          >
                            <i class="fa fa-edit"></i>
                          </button>
                        </a>
                        <div class="btn-group dropdown">
                          <button
                          type="button"
                          style="padding: 15px;"
                          title=""
                          class="btn btn-link btn-black"
                          data-bs-toggle="dropdown"
                          aria-expanded="true"
                          id=""
                        >
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                          <ul class="dropdown-menu" role="menu" >
                            <li>
                              <form 
                              action="{{ url_for('seller.productActivation', productID=product[0]) }}" 
                              method="POST"
                              >
                                <button 
                                  class="dropdown-item"
                                  type="submit"
                                  name="activationButton"
                                  value="activate"
                                  >
                                Activate
                                </button>
                              </form>
                              <form 
                              action="{{ url_for('seller.productActivation', productID=product[0]) }}"
                              method="POST"
                              >
                                <button 
                                class="dropdown-item"
                                type="submit"
                                name="activationButton"
                                value="deactivate"
                                >
                                Deactivate
                                </button>
                              </form> 
                              <form 
                              action="{{ url_for('seller.deleteProduct', productID=product[0] ) }}" 
                              method="POST"
                              >
                                <button 
                                  class="dropdown-item" 
                                  type="submit" 
                                  name="deleteProduct" 
                                  value="delete"
                                >
                                Delete
                                </button>
                              </form>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                    <td hidden="">
                      {{product.14}}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    $("#basic-datatables").DataTable({});

    $("#multi-filter-select").DataTable({
      pageLength: 5,
      initComplete: function () {
        this.api()
          .columns()
          .every(function () {
            var column = this;
            var select = $(
              '<select class="form-select"><option value=""></option></select>'
            )
              .appendTo($(column.footer()).empty())
              .on("change", function () {
                var val = $.fn.dataTable.util.escapeRegex($(this).val());

                column
                  .search(val ? "^" + val + "$" : "", true, false)
                  .draw();
              });

            column
              .data()
              .unique()
              .sort()
              .each(function (d, j) {
                select.append(
                  '<option value="' + d + '">' + d + "</option>"
                );
              });
          });
      },
    });

    $('all-products').click(function() {
      $(this).toggleClass('btn nav-link active');
    });

    function updateFilter(value) {
      // As you use jQuery, use it to its ful potential:
      if (value==2){
        return;
      }
      $('#products-in-store > tbody > tr > td:nth-child(8)').each(function() {
          // Don't retrieve HTML but text; convert to number with `+`
          var scoreCheck = $(this).text();
          // Toggle instead of hide, so it works both ways:
          // Don't select providing HTML, but use a TR selector.
          $(this).closest('tr').toggle(value == scoreCheck);
      });
    }

    // Add Row
    $("#products-in-store").DataTable({
      pageLength: 5,
    });

    // var tableBody = document.getElementById('tableBody');
    // var tableData = tableBody.innerHTML;

    // function activationFilter(value) {
    //   tableBody.innerHTML = tableData;
    //   let rows = tableBody.children;

    //   if (value == 2) {
    //     return;
    //   }

    //   let filteredRows = '';

    //   for (let i = 0; i<rows.length; i++) {
    //     var currentRow = rows[i].children[7].innerText;

    //     if (currentRow==value) {
    //       filteredRows += rows[i].outerHTML;
    //     }
    //   }
    //   tableBody.innerHTML = filteredRows;
    // }

    $('#active-products').on('click', function () {
      var value = 0;
      updateFilter(value);
    });

    $('#inactive-products').on('click', function () {
      var value = 1;
      updateFilter(value);
    });

    var action =
      '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

    $("#addRowModal").click(function () {
      $("#add-row")
        .dataTable()
        .setBackdropStatic(true)
      $("#addRowModal").modal("hide");
    });
  
    $("#alert_demo_2").click(function (e) {
      swal("Here's the title!", "...and here's the text!", {
        buttons: {
          confirm: {
            className: "btn btn-success",
          },
        },
      });
    });
  });
</script>
{% endblock %}