<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" text="text\css" href="static\home_style.css">
    <title>E-commerce: Become a seller now!</title>
    <link rel="stylesheet" href="static\css/bootstrap.min.css">
    <script src="static\js/bootstrap.bundle.min.js"></script>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error'%}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% else %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">E-commerce</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/buyerBecomeSeller">Become a seller</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cart</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">My account</a></li>
                  <li><a class="dropdown-item" href="#">My orders</a></li>
                  <li><a class="dropdown-item" href="#">My wishlist and followed stores</a></li>
                  <li><a class="dropdown-item" href="#">My reviews</a></li>
                  <li><a class="dropdown-item" href="#">My returns and cancellations</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li> -->
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchTextBox">
                <button class="btn btn-outline-success" type="submit" id="searchSubmit">Search</button>
            </form>
          </div>
        </div>
    </nav>

    <div class="container">
        <form action="/requestToBecomeSeller", method="POST">
            <input class="btn btn-primary" type="submit" value="Become a seller now!">
        </form>
    </div>

    <!-- <div class = "headerButtons">
        <a style="text-decoration: none;" href="/buyerBecomeSeller" id="becomeSeller">Become a seller</a>
        <a style="text-decoration: none;" href="/logout" id="accountName">{{username}} account</a>
    </div>
    <hr>
    <div class = "container">
        <a style="text-decoration: none;" href="/home" id="dashboardName">E-commerce</a>
        <div class="searchTextBox">
            <form action="", methods="POST">
                <input type="text" name="searchTextBox" size="50"><br>
            </form>
        </div>  
        <form action="/requestToBecomeSeller", method="POST">
            <div class="form-group">
                <input type="submit" value="Become A Seller now"><br>
            </div>
        </form>
    </div> -->
</body>
</html>