<!DOCTYPE html>
<html>
    <head>
        <title>E-commerce</title>
        <link rel="stylesheet" type="text/css" href="static\home_style.css">
    </head>
    <body>
        <div class = "headerButtons">
            <a style="text-decoration: none;" href="/buyerBecomeSeller" id="becomeSeller">Become a seller</a>
            <a style="text-decoration: none;" href="/logout" id="accountName">{{username}} account</a>
        </div>
        <hr>
        <div class ="container">
            <a style="text-decoration: none;" href="/home" id="dashboardName">E-commerce</a>
            <div class="searchTextBox">
                <form action="", methods="POST">
                    <input type="text" name="searchTextBox" size="50"><br>
                </form>
            </div>  
        </div>
    </body>
</html>