<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="static\css/bootstrap.min.css">
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="toast-container position-fixed end-0 p-3 pt-0 toast-container-extra" id="toast-stack-container" style="top: 80px;">
      {% for category, message in messages %}
          {% if category == 'danger' %}
                <div class="toast mt-0 border-danger" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-stack-toast-category="error">
                  <div class="toast-header">
                    <i class="fa-light fa-circle-exclamation text-danger" style="font-size: 1.0rem;"></i> &nbsp;&nbsp;
                    <strong class="me-auto text-black">Action Needed</strong>
                    <small>Just Now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                  <div class="toast-body toast-message">
                      {{ message }}
                  </div>
                </div>
          {% endif %}
          {% if category == 'info' %}
                <div class="toast mt-0 border-danger" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-stack-toast-category="error">
                  <div class="toast-header">
                    <i class="fa-light fa-circle-exclamation text-danger" style="font-size: 1.0rem;"></i> &nbsp;&nbsp;
                    <strong class="me-auto text-black">Action Needed</strong>
                    <small>Just Now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                  <div class="toast-body toast-message">
                      {{ message }}
                  </div>
                </div>
          {% endif %}
          {% if category == 'success' %}
                <div class="toast mt-0 border-success" role="alert" aria-live="polite" aria-atomic="true" data-stack-toast-category="info">
                  <div class="toast-header">
                    <i class="fa-light fa-check text-success" style="font-size: 1.0rem;"></i> &nbsp;&nbsp;
                    <strong class="me-auto text-black">Success</strong>
                    <small>Just Now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                  <div class="toast-body toast-message">
                  {{ message }}
                  </div>
                </div>
          {% endif %}
      {% endfor %}
    </div>
  {% endif %} 
  {% endwith %}

  <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
  </div>
  

  <!-- <div class="container-fluid mt-5" style="position: absolute;">
    <div id="content" class="row" style="display: flex; justify-content: center;">

    </div>
</div>

<div class="container-fluid mt-5" style="position: absolute;">
  <div id="content" class="row" style="display: flex; justify-content: center;">
      …
  </div>
</div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Username &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div> -->
      <script src="static\js/bootstrap.bundle.min.js"></script>
      <script src="static\test.js"></script>
      <script>
        $(document).ready(function(){
            $('.toast').toast('show');
        });
    </script>
    </body>
</html>