<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login_style.css') }}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugin/sweetalert/sweetalert.min.js') }}"></script>

    {% block head %}{% endblock %}
</head>
<body>
    <!-- FLASH ALERTS -->
    <section>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error'%}
        <script>
            swal("{{message}}", {
              icon: "error",
              buttons: {
                confirm: {
                  className: "btn btn-danger",
                },
              },
            });
        </script>   
        {% else %}
        <script>
            swal("{{message}}", {
              buttons: {
                confirm: {
                  className: "btn btn-success",
                },
              },
            });
        </script>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
    {% block content %}
    {% endblock %}
</body>
</html>