{% extends 'accounts/base.html' %}

{% block title %}Forgot password | Awesomers{% endblock %}

{% block content %}
<section>
    <div class="container">
        <h1>{{legend}}</h1>
        <form action="{{ url_for('requestPasswordReset') }}" method="POST"> 
            <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text">@</span>
                    <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGroup1" name="emailForgotPassword" placeholder="Username" required>
                    <label for="floatingInputGroup1">Email</label>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-success btn-sm">Change password</button>
            </div>
        </form>    
        <div class="form-group">
            <a href="{{ url_for('login') }}">
                <button type="button" class="btn btn-primary btn-sm">Back to login</button>
            </a>
        </div>
    </div>
</section>
{% endblock %}