{% extends 'accounts/base.html' %}

{% block title %}Reset password | Awesomers{% endblock %}

{% block content %}
<section>
    <div class="container">
        <h1> {{legend}} </h1>
        <h3> for {{userEmail}}</h3>
        <form action="{{ url_for('resetPassword', token=userToken) }}" method="POST">
            <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text">#&nbsp;</span>
                    <div class="form-floating">
                    <input type="password" class="form-control" id="floatingInputGroup1" name="newPassword" placeholder="Username" required>
                    <label for="floatingInputGroup1">Password</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">#&nbsp;</span>
                    <div class="form-floating">
                    <input type="password" class="form-control" id="floatingInputGroup1" name="confirmNewPassword" placeholder="Username" required>
                    <label for="floatingInputGroup1">Confirm password</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-success btn-sm">Reset password</button>
        </form>    
        <div class="form-group">
            <a href="{{ url_for('login') }}">
                <button type="button" class="btn btn-primary btn-sm">Back to login</button>
            </a>
        </div>
    </div>
</section>
{% endblock %}