{% extends 'accounts/base.html' %}

{% block title %}Reset password | Awesomers{% endblock %}

{% block content %}
<body>
    <!-- FLASH ALERTS -->
    <section>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error'%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <section>
        <div class="container">
            <h1> {{legend}} </h1>
            <h3> for {{userEmail}}</h3>
            <div class = "text-fields">
                <form action="{{ url_for('resetPassword', token=userToken) }}" method="POST">
                    <div class="form-group">
                        <div class="input-group input-group-sm mb-3" id="input-group">
                            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                                <input type="password" id="input-group-label" name="newPassword" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                        </div>

                        <div class="input-group input-group-sm mb-3" id="input-group">
                            <span class="input-group-text" id="inputGroup-sizing-default">Confirm Password</span>
                                <input type="password" id="input-group-label" name="confirmNewPassword" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                        </div>
                </form>    
                <div class="form-group">
                    <a href="{{ url_for('login') }}">
                        <button type="button" class="btn btn-success btn-sm">Reset password</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}