{% extends 'accounts/base.html' %}

{% block title %}Sign up | Awesomers{% endblock %}

{% block content %}
<body>
    <!--FLASH ALERTS-->
    <section>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error'%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <section>
        <div class = "container">
            <h1>{{legend}}</h1>
            <!--img id="loginImg" src="http://127.0.0.1:5000/static/clearlyudonthaveadad.png"-->
            <div class = "text-fields">
                <form action="{{ url_for('signUp') }}" method="POST">
                    <div class="form-group">
                        <div class="input-group input-group-sm mb-3" id="input-group">
                            <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
                                <input type="text" id="input-group-label" name="fName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                        </div>

                        <div class="input-group input-group-sm mb-3" id="input-group">
                            <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
                                <input type="text" id="input-group-label" name="lName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                        </div>    

                        <div class="input-group input-group-sm mb-3" id="input-group">
                            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                                <input type="text" id="input-group-label" name="emailSignUp" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                        </div>

                        <div class="input-group input-group-sm mb-3" id="input-group">
                            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                                <input type="password" id="input-group-label" name="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                        </div>

                        <div class="input-group input-group-sm mb-3" id="input-group">
                            <span class="input-group-text" id="inputGroup-sizing-default">Confirm Password</span>
                                <input type="password" id="input-group-label" name="confirmPassword" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                        </div>

                        <button type="submit" class="btn btn-success btn-sm">&nbsp;&nbsp;&nbsp;&nbsp;Create account&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
            <div class="form-group">
                <a href="{{ url_for('login') }}">
                    <button type="button" class="btn btn-primary btn-sm">Already have an account? Sign in</button>
                </a>
            </div>
        </div>
    </section>
</body>
{% endblock %}