{% extends 'accounts/base.html' %}

{% block title %}Sign up | Awesomers{% endblock %}

{% block content %}
<section>
    <div class = "container">
        <h1>{{legend}}</h1>
        <!--img id="loginImg" src="http://127.0.0.1:5000/static/clearlyudonthaveadad.png"-->
        <form action="{{ url_for('signUp') }}" method="POST">
            <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text">F&nbsp;&nbsp;</span>
                    <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGroup1" name="fName" placeholder="Username" required>
                    <label for="floatingInputGroup1">First name</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">L&nbsp;&nbsp;</span>
                    <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGroup1" name="lName" placeholder="Username" required>
                    <label for="floatingInputGroup1">Last name</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">@</span>
                    <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGroup1" name="emailSignUp" placeholder="Username" required>
                    <label for="floatingInputGroup1">Email</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">#&nbsp;</span>
                    <div class="form-floating">
                    <input type="password" class="form-control" id="floatingInputGroup1" name="password" placeholder="Username" required>
                    <label for="floatingInputGroup1">Password</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">#&nbsp;</span>
                    <div class="form-floating">
                    <input type="password" class="form-control" id="floatingInputGroup1" name="confirmPassword" placeholder="Username" required>
                    <label for="floatingInputGroup1">Confirm password</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-success btn-sm">&nbsp;&nbsp;&nbsp;&nbsp;Create account&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>
        </form>
        <div class="form-group">
            <a href="{{ url_for('login') }}">
                <button type="button" class="btn btn-primary btn-sm">Already have an account? Sign in</button>
            </a>
        </div>
    </div>
</section>
{% endblock %}