<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    {% block head %}{% endblock %}
</head>
<body>
    <!-- FLASH ALERTS -->
    <section>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error'%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>     

    <section>
        <div class="row">
            <div class="col-2">
                <ul class="nav flex-sm-column nav-pills nav-fill bg-dark-subtle">
                    <li class="nav-item">
                    <div class="container" id="logo">
                        <a class="navbar-brand" href="{{ url_for('seller.sellerCenter') }}">
                        <img src="{{ url_for('static', filename='img/clearlyudonthaveadad.png') }}" alt="Bootstrap" width="40" height="40">
                        Awesomers Seller Center
                        </a>
                    </div>
                    </li>
        
                    <li class="nav-item">
                    <form class="navbar-form">
                        <div class="btn-group dropend">
                        <button type="button" class="btn btn-secondary dropdown-toggle bg-dark" data-bs-toggle="dropdown" aria-expanded="false">
                            Products
                        </button>
                        <ul class="dropdown-menu bg-dark-subtle">
                            {% if purpose=='renderProducts' %}
                            <li><a class="dropdown-item active" href="{{ url_for('seller.products') }}">Add product</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('seller.inventory') }}">Inventory</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            {% elif purpose=='renderInventory' %}
                            <li><a class="dropdown-item" href="{{ url_for('seller.products') }}">Add product</a></li>
                            <li><a class="dropdown-item active" href="{{ url_for('seller.productManagement') }}">Inventory</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{{ url_for('seller.products') }}">Add product</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('seller.inventory') }}">Inventory</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            {% endif %}
                        </ul>
                        </div>
                    </form>
                    </li>
        
                    <li class="nav-item">
                    <form class="navbar-form">
                        <div class="btn-group dropend">
                        <button type="button" class="btn btn-secondary dropdown-toggle bg-dark" data-bs-toggle="dropdown" aria-expanded="false">
                            Orders
                        </button>
                        <ul class="dropdown-menu bg-dark-subtle">
                            <li><a class="dropdown-item active" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                        </div>
                    </form>
                    </li>
        
                    <li class="nav-item">
                    <form class="navbar-form">
                        <div class="btn-group dropend">
                        <button type="button" class="btn btn-secondary dropdown-toggle bg-dark" data-bs-toggle="dropdown" aria-expanded="false">
                            Sales 
                        </button>
                        <ul class="dropdown-menu bg-dark-subtle">
                            <li><a class="dropdown-item active" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                        </div>
                    </form>
                    </li>
        
                    <li class="nav-item">
                        <form class="navbar-form">
                            <div class="btn-group dropend">
                            <button type="button" class="btn btn-secondary dropdown-toggle bg-dark" data-bs-toggle="dropdown" aria-expanded="false">
                                Chat
                            </button>
                            <ul class="dropdown-menu bg-dark-subtle">
                                <li><a class="dropdown-item active" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                            </div>
                        </form>
                    </li>

                    <li class="nav-item">
                    <form class="navbar-form">
                        <div class="btn-group dropend">
                        <button type="button" class="btn btn-secondary dropdown-toggle bg-dark" data-bs-toggle="dropdown" aria-expanded="false">
                            My account
                        </button>
                        <ul class="dropdown-menu bg-dark-subtle">
                            <li><a class="dropdown-item active" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                        </div>
                    </form>
                    </li>

                    <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                    </li> -->
                    <!-- <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li> -->
        
                    <li class="nav-item">
                        <hr>
                    </li>
        
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('homepage.home') }}">Back to Store</a>
                    </li>
                </ul>
                </div>
              
                <div class="col-10">
                <h1>HELLO</h1>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
</body>
</html>