h1 {
    text-align: center;
    margin: 500px auto;
    font-weight: bold;
}

h3 {
    text-align: center;
    margin: 500px auto;
}

#loginHeader {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container {
    max-width: 200px;   
    margin: 200px auto;
}

.buttons {
    max-width: 500px;
    margin: 25px auto auto 385px;
    text-align: center;
}

.form-group {
    margin: 25px auto auto auto;
    font-family: Arial, Helvetica, sans-serif;

    /* alignment */
    text-align: justify;
    text-align: center;
}

#input-group {
    width: 25%;
    margin: auto auto auto 500px;
}
