<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-commerce</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="components\toasts.html">
</head>
<body>
    <section>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error'%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% endfor %}
        {% endif %} 
        {% endwith %}
    </section>

    <div class = "container">
        <!--img id="loginImg" src="http://127.0.0.1:5000/static/clearlyudonthaveadad.png"-->
        <h1 id="loginHeader">Login</h1>
        <form action="/login" method="POST">
            <div class="form-group">
                <div class="input-group input-group-sm mb-3" id="input-group">
                    <span class="input-group-text" id="inputGroup-sizing-default">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <input type="text" id="input-group-label" name="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                <div class="input-group input-group-sm mb-3" id="input-group">
                    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                        <input type="password" id="input-group-label" name="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm">Sign in</button>
            </div>
        </form>
        <div class="buttons">
            <a href="/requestPasswordReset">
                <button type="button" class="btn btn-primary btn-sm">Forgot password</button>
            </a>
            <a href="/signUp">
                <button type="button" class="btn btn-primary btn-sm">Sign up</button>
            </a>
            <!--LINK TO APP.ROUTE, NOT HTML FILE-->
        </div>
    </div>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html> 