<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-commerce</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <!--FLASH ALERTS-->
    <section>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error'%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <!--IF USER FORGOT PASSWORD, RENDER THIS-->
    {% if purpose == 'forgotPassword' %}
    <section>
        <h1>Forgot password</h1>
        <div class = "text-fields">
            <form action="/requestPasswordReset" method="POST">
                <div class="form-group">
                    <label for="email">Email: </label>
                        <input type="text" name="emailForgotPassword" required><br>
                    <input type="submit" value="Forgot password"><br>
                </div>
            </form>    
            <div class="form-group">
                <a href="/login">
                    <input type="submit" value="Back to login"><br>
                </a>
            </div>
        </div>
    </section>
    <!--ELSE, RENDER SIGN UP-->
    {% else %}
    <section>
        <div class = "container">
            <h1>Sign up</h1>
            <!--img id="loginImg" src="http://127.0.0.1:5000/static/clearlyudonthaveadad.png"-->
            <div class = "text-fields">
                <form action="/signUp" method="POST">
                    <div class="form-group">
                        <label for="fName">First name:</label>
                        <input type="text" name="fName" required><br>
                    </div>
    
                    <div class="form-group">
                        <label for="lName">Last name:</label>
                        <input type="text" name="lName" required><br>
                    </div>
    
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" name="emailSignUp" required><br>
                    </div>
                    
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" required><br>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm password:</label>
                        <input type="password" name="confirmPassword" required><br>
                    </div>
                    <div class = "form-group">
                        <input type="submit" value="Sign up"><br>
                    </div>
                </form>
            </div>
            <div class="buttons">
                <a href="/login">
                    <button>Already have an account? Sign in</button>
                </a>
            </div>
        </div>
    </section>
    {% endif %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html> 